.App {
  width: 100%;
  text-align: center;
  word-wrap: break-word;
}
/* Navbar.css */
.navbar {
  background-color: #fff;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #000;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  margin-right: 10px;
}

.navbar-title {
  font-size: 20px;
  color: #000;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  display: inline-block;
  margin: 0 10px;
}

.navLink {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.home, .weather, .landing {
  padding: 0 30px;
}

button {
  background-color: #fff;
  /* Green background color */
  border: 1px solid #000;
  /* Remove borders */
  padding: 5px 5px;
  /* Padding around text */
  text-align: center;
  /* Center text */
  text-decoration: none;
  /* Remove underline from links */
  display: inline-block;
  /* Display as inline-block so the padding and margin work correctly */
  font-size: 16px;
  /* Set font size */
  margin: 4px 2px;
  /* Set margin */
  cursor: pointer;
  /* Set cursor style */
  box-shadow: 4px 0 8px #000;
}
input {
  border-radius: 20px;
  padding: 8px;
}

/* TableStyles.css */

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x:auto;
}

.centered-table {
  text-align: left;
  border: 2px solid #000;
  padding: 5px;
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

th, td {
  border: 2px solid #000;
  padding: 5px;
}

@media (max-width: 600px) {
  .mobile-none {
    display: none;
  }
}